@import url('https://voyo.si/static/slo/microsites/voyo2014/css/style.css?v=1bd3ace6cdfa00242cc453172575fb70');
/*
     FILE ARCHIVED ON 13:52:36 Jul 30, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:12:34 Jul 30, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 100.228 (3)
  esindex: 0.01
  captures_list: 121.857
  CDXLines.iter: 12.776 (3)
  PetaboxLoader3.datanode: 42.049 (3)
  exclusion.robots: 0.185
  exclusion.robots.policy: 0.173
  RedisCDXSource: 5.128
  load_resource: 12.747
*/
