body.nagradna-igra {
	background: url('/static/slo/microsites/voyo2014/img/prize/bg.jpg') top center;
	background-size: cover;
}

.prize {
	margin-top: 140px;
}

body.noAccess .prize {
	margin-top: 170px;
}

.main-text {
	margin-bottom: 30px;
}

.main-text h1 {
	display: inline-block;
	position: relative;
	color: #ffffff;
	font-size: 42px;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	font-weight: bold;
}

.enter .main-text h1 span {
	font-weight: normal;
	text-transform: none;
	font-size: 32px;
	position: relative;
	top: -10px;
}

.main-text h1:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	width: 60%;
	height: 4px;
	margin: 0 auto;
	/*background: #2776d0;*/
	background: #ffb302;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

.main-text p {
	color: rgba(255,255,255,0.9);
	font-size: 28px;
	font-weight: lighter;
	margin: 0;
}

p.legal {
	margin: 10px 0;
	color: #ffffff;
	font-size: 16px;
}

p.legal span {
	color: red;
}

p.legal span {
	color: red;
}

p.legal a {
	color: #FEB202;
	position: relative;
}

p.legal a:hover {
	color: #ffffff;
}

p.legal a:hover:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background: #FEB202;
  -webkit-border-radius: 999em;
  -moz-border-radius: 999em;
  border-radius: 999em;
  content: "";
}

.choose-item .first-item {
	/*height: 304px;*/
	margin-bottom: 30px;
	padding: 20px;
	color: #fff;
	border: 4px dashed #fff;
	background: rgba(0,0,0,0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.choose-item .first-item .icon {
	width: 100%;
}

.choose-item .first-item .icon span {
	font-size: 68px;
}

.choose-item .first-item .icon .line {
	margin: 20px 0;
	height: 4px;
	background: #2776d0;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

.choose-item .first-item .icon p {
	margin: 0;
	font-size: 18px;
  	font-weight: bold;
  	text-transform: uppercase;
}

.choose-item .item {
	position: relative;
	border: 4px solid #2776d0;
	margin-bottom: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
	overflow: hidden;
}

.choose-item .item .tick {
	display: none;
}

.choose-item input {
	display: none;
}

.choose-item .item.selected {
	border-color: #ffb302;
}

.choose-item .item.selected .tick {
	display: block;
}

.choose-item .item.selected:hover .info  {
	opacity: 0;
}

.choose-item .item.selected .tick .bg {  
	position: absolute;
	top: -50px;
	right: -50px;
	width: 100px;
	height: 100px;
	-moz-transform: rotatez(45deg);
	-ms-transform: rotatez(45deg);
	-o-transform: rotatez(45deg);
	-webkit-transform: rotatez(45deg);
	transform: rotatez(45deg);
	background: #ffb302;
}

.choose-item .item.selected .tick span {
	color: #784a00;
	font-size: 26px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin: 9px;
}

.choose-item .item .info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.choose-item .item .info h1 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}

.choose-item .item .info .plus {
	display: flex;
	height: 80%;
	align-items: center;
	justify-content: center;
}

.choose-item .item .info .plus span {
	color: #fff;
	font-size: 42px;
}

.choose-item .item:hover {
	border-color: #ffb302;
}

.choose-item .item:hover .info {
	opacity: 1;
	background: rgba(0,0,0,0.8);

}

a.btn.next {
	background-image: none;
	background: #fff;
	color: #0d131d;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 4px solid #fff;
}

.question-container a.btn.next {
	background-image: none;
	background: none;
	color: rgba(255,255,255,0.9);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 4px solid rgba(255,255,255,0.6);
}

.question-container.selected a.btn.next {
	background: #fff;
	color: #0d131d;
	border: 4px solid #fff;
}

a.btn.next:hover {
	background: transparent;
	color: #fff;
	border-color: rgba(255,255,255,0.6);
}

.prize .share {
	background: rgba(255,255,255,0.15);
	margin: 60px 0;
	padding: 50px 0;
}

.share .btn {
	background-image: none;
	background: #2776d0;
	border: 4px solid #2776d0;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	padding-left: 40px;
	padding-right: 40px;
}

.share .btn:hover {
	background: transparent;
	border-color: rgba(255,255,255,0.6);
}

.share .btn > span {
	color: rgba(0,0,0,0.4);
	padding-right: 8px;
}

.end-items .first-item {
	height: 90px;
	background: rgba(255,255,255,0.1);
	border: 4px solid #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

}

.end-items .first-item h1 {
	margin: 0;
	color: #fff;
	font-size: 32px;
}

.end-items .item {
	height: 90px;
	background: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 20px;
	overflow: hidden;
}

.end-items .item .image {
	width: 100px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.end-items .item .image img {
  position: absolute;
  top: -999px;
  left: -999px;
  right: -999px;
  bottom: -999px;
  width: 130px;
  height: auto;
  display: block;
  margin: auto;
}

/*.end-items .item img {
	max-width: 80px;
}*/

.end-items .item .content {
	margin-left: 20px;
	display: flex;
	height: 100%;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.end-items .item .content span {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgba(39,118,208,0.1);
	color: rgb(39,118,208);
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px 10px;
}

.end-items .item .content h1 {
	margin: 10px 0 0 0;
	color: #0d131d;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

.end-items .item .icon {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	border-left: 1px solid rgba(0,0,0,0.1);
}

.end-items .item .icon span {
	color: #2776d0;
	font-size: 40px;
}

.quiz-ok p.last {
	font-size: 24px;
	color: #FFF;
	margin: 10px 0 0 0;
	background: #2776D0;
	border: 4px solid #2776D0;
	border-radius: 4px;
	padding: 20px;
}

.prize .awards {
	background: rgba(255,255,255,0.15);
	margin: 30px 0 0 0;
	padding: 40px 0 60px 0;
}

.awards {
	margin-bottom: 200px;
}

.awards .item {
	background: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px;
	text-align: center;
	margin-bottom: 20px;
}

.awards .item .picture {
	position: relative;
}

.awards .item .picture .number {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.awards .item .picture .number span {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	background: #2776d0;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	width: 68px;
	height: 68px;
	text-align: center;
	line-height: 68px;
}

.awards .item h1 {
	color: #0d131d;
	font-size: 16px;
	margin: 16px 0;
}

.error {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*border: 4px solid rgba(255, 31, 31, 0.9);*/
	background: rgba(255, 31, 31, 0.8);
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	padding: 12px 14px;
	font-size: 18px;
}

a.send-to-fb {
	position: fixed;
	right: 0;
	top: 30%;
	width: 100px;
	background: #2776D0;
	padding: 20px;
	z-index: 999;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.slider img {
	width: 200px;
}

/* ----------------------------------------------------------- */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width:1200px)  {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1600px) {
	.prize .container {
		width: 1170px;
	}
}

/* ----------------------------------------------------------- */

@media (max-width:1600px) {
	body.noAccess .prize {
		margin-top: 230px;
	}
}


@media (max-width:1200px)  {
	/*.choose-item .first-item {
    	height: 244px;
    }*/

    body.noAccess .prize {
		margin-top: 230px;
	}
}

@media (max-width: 992px) {
	/*.choose-item .first-item {
		height: 177px;
	}*/

	.choose-item .first-item .icon span {
		font-size: 38px;
	}

	.choose-item .first-item .icon p {
		font-size: 13px;
	}

	.choose-item .item .info .plus span {
		font-size: 32px;
	}

	.choose-item .item .info h1 {
		font-size: 14px;
	}

	.choose-item .item .info .plus {
		height: 80%;
	}

	body.noAccess .prize {
		margin-top: 160px;
	}

	
}


@media (max-width: 768px) {
	a.btn.next {
		font-size: 18px;
	}
  
}
